# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- Create some markdown cells.
- Create some code cells.

### Ordered list:
1. Python
2. R
3. c++

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Seaborn

| Data Science Tools |
| -------------|
| Tableau |
| Knime |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
√Ångel